<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wmz.demo_w1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.wmz.mylibrary.WmzApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.EventBusActivity"
            android:label="@string/eventBus">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EventBus2Activity" />
        <activity
            android:name=".activity.SweetDialogActivity"
            android:label="@string/sweetDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NetworkActivity"
            android:label="@string/network">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AdapterActivity"
            android:label="@string/adapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FragmentActivity"
            android:label="@string/fragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DialogActivity"
            android:label="@string/dialog"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MaterialDialogActivity"
            android:label="@string/materialDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RecyclerViewActivity"
            android:label="@string/recyclerview">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AutoLayoutActivity"
            android:label="@string/autoLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <activity
            android:name=".activity.SplitScreenActivity"
            android:label="@string/splitScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NwDrawerLayoutActivity"
            android:label="@string/nwDrawerLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NwTabLayoutActivity"
            android:label="@string/nwTabLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NwSwipeRefreshLayoutActivity"
            android:label="@string/nwSwipeRefreshLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FlyBannerActivity"
            android:label="@string/flyBanner">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AVLoadingIndicatorViewActivity"
            android:label="@string/AVLoadingIndicatorView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CrashActivity"
            android:label="@string/crash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TextDrawableActivity"
            android:label="@string/textDrawable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.HTML5CustomWebViewActivity"
            android:label="@string/HTML5CustomWebView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ViewDragActivity"
            android:label="@string/viewDrag">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabActivity"
            android:label="@string/tab">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.XRecyclerViewActivity"
            android:label="@string/XRecyclerView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OrmLiteActivity"
            android:label="@string/OrmLite">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MVPActivity"
            android:label="@string/MVP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.NetworkMonitorActivity"
            android:label="@string/NetworkMonitor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/WebView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.GlideActivity"
            android:label="@string/Glide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="LIST" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.SuperTextActivity"
            android:label="@string/SuperTextView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="LIST"/>
            </intent-filter>
        </activity>
    </application>

</manifest>